<%- include('partials/header');-%>
<h1>Home</h1>
<p> <%= homeText %> </p>

<!--For testing the compose-->
<a href="compose" class="btn btn-primary ">Publish a Post</a>

<%posts.forEach(post=>{%>
<h2><%=post.title%></h2>
<p><%=post.content.substring(0,100)+"..."%><a href="/posts/<%=post._id%>">Read More</a></p>
<%});%>

<%- include('partials/footer');-%>